.product {
  width: 25%;
  padding: 0 1rem;
  display: flex;
  margin: 1rem 0;
}

.card-body {
  padding-top: 0;
}

.product__delete-button {
  margin-right: 1rem;
}

.product__price {
  padding: 0 1.25rem 1.25rem;
}

.product__discount-price {
  color: red;
  margin-right: 1rem;
}

.product__discount-active {
  text-decoration: line-through;
}

.product__image img {
  width: 100%;
  padding: 0 0.4rem;
}
